<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/navbar_footer.css' %}">
</head>

<body>
    <nav class="navbar">
        <img src="{% static 'logo4.png' %}" alt="Logo" class="logo">
        <ul class="nav">
            <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li><a href="{% url 'project' %}" class="nav-link">Projects</a></li>
        

            {% if user_email %}
                <li><a href="{% url 'account' %}" class="nav-link">Account</a></li>
                <li><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</body>

</html>
