<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <main>
        <header>
            <h1>Account</h1>
        </header>

        <section>
            <div class="user-info-form">
                <h2>Modify user informations</h2>
                <form action="{% url 'account' %}" method="post">
                    {% csrf_token %}
                    <label for="first_name">First name:</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user_info.first_name }}" required maxlength="30">

                    <label for="last_name">Last lame:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user_info.last_name }}" required maxlength="30">

                    <label for="phone_number">Phone number:</label>
                    <input type="tel" id="phone_number" name="phone_number" value="{{ user_info.phone_number }}" required pattern="\d{10}" title="Please enter a 10-digit phone number">

                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" value="{{ user_info.address }}" required maxlength="50">

                    <label for="postal_code">Postal code:</label>
                    <input type="text" id="postal_code" name="postal_code" value="{{ user_info.postal_code }}" required pattern="\d{5}" title="Please enter a 5-digit postal code number">

                    <label for="credit_card">Favorite credit card:</label>
                    <input type="text" id="credit_card" name="credit_card" value="{{ user_info.registered_credit_card }}" required pattern="\d{16}" title="Please enter a 16-digit credit card number">

                    {% if confirm_info %}
                        <p>{{ confirm_info }}</p>
                    {% endif %}

                    <button type="submit" name="modify_user_info" class="submit-button">Modify</button>
                </form>
            </div>

            <br>

            <div class="user-info-form">
                <h2>Change password</h2>
                <form action="{% url 'account' %}" method="post">
                    {% csrf_token %}
                    <label for="old_password">Old password:</label>
                    <input type="password" id="old_password" name="old_password" required maxlength="50">

                    <label for="new_password">New password:</label>
                    <input type="password" id="new_password" name="new_password" required maxlength="50">

                    <label for="confirm_new_password">Confirm new password:</label>
                    <input type="password" id="confirm_new_password" name="confirm_new_password" required maxlength="50">

                    {% if error_password %}
                        <p class="error-message">{{ error_password }}</p>
                    {% endif %}

                    {% if confirm_password %}
                        <p>{{ confirm }}</p>
                    {% endif %}

                    <button type="submit" name="change_password" class="submit-button">Change</button>
                </form>
            </div>

            <br>

            <div class="order-history">
                <h2>Order history</h2>
                {% if user_orders %}
                    <div>
                        {% for order in user_orders %}
                            <div>
                                <strong>Order ID:</strong> {{ order.order_id }}<br>
                                <strong>Order date:</strong> {{ order.order_date }}<br>
                                <strong>Status:</strong> {{ order.status }}<br>
                                <strong>Total price:</strong> ${{ order.total_price }}<br>
                                <button type="button" class="submit-button" onclick="window.location.href='{% url 'order_history' order.order_id %}'">Details of your order</button>
                            </div>
                            <br>
                        {% endfor %}
                        </div>
                {% else %}
                    <p>No previous orders found.</p>
                {% endif %}
            </div>
        </section>
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

</html>