<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order infos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <style>

    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <header>
        <h1>Confirmation!</h1>
        <p>Here's a recap for your order</p>
    </header>

    <section>
        
    </section>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

</html>