<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url('{% static "home.png" %}') center center fixed;
        }

        section {
            padding: 2em;
            text-align: center;
            color: white;
        }

        .welcome {
            font-size: 1.2em;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    
    <header>
        <h1>FruitiCart: Fresh Produce at Your Fingertips</h1>
        <p>Your source for the freshest fruits and VeggieBalls</p>
    </header>

    <section>
        <p class="welcome">Welcome to FruitiCart, your go-to destination for the freshest fruits and VeggieBalls. Our commitment is to provide you with high-quality, delicious produce that you can conveniently order online.</p>
        <p class="welcome">Explore our selection and experience the taste of freshness today!</p>
        <button class="submit-button", id ="order_button">Order Now</button>
    </section>

    <footer>
        {% include 'footer.html' %}
    </footer>

    <script>
        var orderButton = document.getElementById('order_button');
        orderButton.addEventListener('click', function() {
            window.location.href = '/order/produces/';
        });
    </script>
</body>

</html>