<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order infos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <style>
        .cart-section {
            background-color: #f8f8f8;
            padding: 20px;
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .item-name, .item-quantity, .item-action {
            flex: 1;
            text-align: center;
        }

        .item-name {
            text-align: left;
        }

        .item-action {
            text-align: right;
        }

        .cart-item button {
            margin-left: 10px;
            background-color: #ff6666;
            color: white;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .cart-item button:hover {
            background-color: #e60000;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <header>
        <h1>Checkout</h1>
        <p>Provide delivery and payment information</p>
    </header>

    <section>
        <div>
            <h2>Your informations</h2>
            <form action="{% url 'confirm_order' %}" method="post">
                {% csrf_token %}
                {% if not user_info %}
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name" required>

                <label for="last_name">Last lame:</label>
                <input type="text" id="last_name" name="last_name" required>

                <label for="phone_number">Phone number:</label>
                <input type="tel" id="phone_number" name="phone_number" required>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>

                <label for="postal_code">Postal code:</label>
                <input type="text" id="postal_code" name="postal_code" required>

                <label for="credit_card">Credit card:</label>
                <input type="text" id="credit_card" name="credit_card" required>
                {% else %}
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user_info.first_name }}" required>

                <label for="last_name">Last lame:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user_info.last_name }}" required>

                <label for="phone_number">Phone number:</label>
                <input type="tel" id="phone_number" name="phone_number" value="{{ user_info.phone_number }}" required>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" value="{{ user_info.address }}" required>

                <label for="postal_code">Postal code:</label>
                <input type="text" id="postal_code" name="postal_code" value="{{ user_info.postal_code }}" required>

                <label for="credit_card">Credit card:</label>
                <input type="text" id="credit_card" name="credit_card" value="{{ user_info.credit_card }}" required>
                {% endif %}

                <label for="delivery-option">Delivery options:</label>
                <select id="delivery-option">
                    <option value="standard">Standard delivery</option>
                    <option value="express">Express delivery</option>
                </select>

                <button type="submit" class="submit-button" onclick="confirmOrder()">Confirm order</button>
        </div>
    </section>

    <section class="cart-section">
        <h2>Shopping cart</h2>
        <label id="order_id">Order ID: #{{ order_id }}</label>
        <div id="cart-items"></div>
        <div id="total-price">Total price: $0.00</div>
    </section>

    <footer>
        {% include 'footer.html' %}
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var cartItems = JSON.parse(localStorage.getItem("cartItems")) || {};
            updateCartItems(cartItems);
            updateTotalPrice();
        });

        function updateCartItems(cartItems) {
            var cartItemsContainer = document.getElementById("cart-items");
            cartItemsContainer.innerHTML = "";

            for (var item in cartItems) {
                if (cartItems[item] > 0) {
                    var cartItemElement = document.createElement("div");
                    cartItemElement.className = "cart-item";
    
                    cartItemElement.innerHTML =
                        "<div class='item-name'>" + item + "</div>" +
                        "<div class='item-quantity'>" + cartItems[item] + "</div>" +
                        "<div class='item-action'><button onclick=\"removeCartItem('" + item + "')\">Remove</button></div>";
    
                    cartItemsContainer.appendChild(cartItemElement);
                }
            }
        }

        function getPrices() {
            var prices = {};

            {% for fruit_name, fruit_price in fruits_prices.items %}
                prices["{{ fruit_name }}"] = "{{ fruit_price }}";
            {% endfor %}

            console.log(prices);
            
            {% for vegetable_name, vegetable_price in vegetables_prices.items %}
                prices["{{ vegetable_name }}"] = "{{ vegetable_price }}";
            {% endfor %}

            return prices;
        }

        function updateTotalPrice() {
            var cartItems = JSON.parse(localStorage.getItem("cartItems")) || {};

            var prices = getPrices();

            var totalPrice = 0;

            for (var item in cartItems) {
                totalPrice += cartItems[item] * prices[item];
            }

            document.getElementById("total-price").textContent = "Total Price: $" + totalPrice.toFixed(2);
        }

        function confirmOrder() {
            var firstName = document.getElementById("first_name").value;
            var lastName = document.getElementById("last_name").value;
            var phoneNumber = document.getElementById("phone_number").value;
            var address = document.getElementById("address").value;
            var postalCode = document.getElementById("postal_code").value;
            var creditCard = document.getElementById("credit_card").value;
            var deliveryOption = document.getElementById("delivery-option").value;

            var orderSummary = "Order Summary:\n\n" +
                "First name: " + firstName + "\n" +
                "Last name: " + lastName + "\n" +
                "Phone number: " + phoneNumber + "\n" +
                "Address: " + address + "\n" +
                "Postal code: " + postalCode + "\n" +
                "Credit card: " + creditCard + "\n\n" +
                "Total Price: $" + document.getElementById("total-price").textContent.split("$")[1];

            alert(orderSummary);

            localStorage.removeItem("cartItems");

            window.location.href = "/order/home/";
        }

        function removeCartItem(item) {
            var cartItems = JSON.parse(localStorage.getItem("cartItems")) || {};

            if (cartItems[item]) {
                cartItems[item]--;

                if (cartItems[item] === 0) {
                    delete cartItems[item];
                }

                localStorage.setItem("cartItems", JSON.stringify(cartItems));
                updateCartItems(cartItems);
                updateTotalPrice();
            }
        }
    </script>
</body>

</html>