<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <main>
        <header>
            <h1>Sign In</h1>
        </header>

        <section>
            <div>
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required maxlength="50">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required maxlength="50">

                    <label for="phone_number">Phone number:</label>
                    <input type="tel" id="phone_number" name="phone_number" required maxlength="10" pattern="\d{10}" title="Please enter a 10-digit phone number">

                    {% if error %}
                    <p class="error-message">{{ error }}</p>
                    {% endif %}

                    <button type="submit" name="signin_submit" class="submit-button">Sign In</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

</html>